In [2]:
import psycopg2
import pandas as pd
import psycopg2.extras
import matplotlib.pyplot as plt

In [3]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "123456",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("successfully connected to database")
        return self.connection
    
    
# con = PostgresConnection().getConnection()

### Common Function to fetch Data from all tables

In [4]:
#  select_stmt= is the SQL select query along with  table and column name    
def retrive_data_from_table(select_stmt): 
    con = PostgresConnection().getConnection()
    cur = con.cursor()
#     select_stmt = "SELECT t.payment_key , t.trans_type, t.bank_name " \
#                   "FROM ecomdb_star_schema.trans_dim t"
    cur.execute(select_stmt)
    records = cur.fetchall()
    return records

### Q6: For each store(item supplier), what are the top three products offered that are most often purchased?

#### S1-> item1 -> quantity_sales
#### S1-> item2 -> quantity_sales
#### S1-> item3 -> quantity_sales

In [46]:
select_query =  "select st.store_key, it.item_key, sum(fact.quantity) as total_sell_quantity "\
                "from ecomdb_star_schema.fact_table fact "\
                "join ecomdb_star_schema.store_dim st on st.store_key = fact.store_key "\
                "join ecomdb_star_schema.item_dim it on it.item_key = fact.item_key "\
                "group by (st.store_key, it.item_key) "\
                "order by ( st.store_key, it.item_key)"

record_Q6 = retrive_data_from_table(select_query)
df_Q6 = pd.DataFrame(list(record_Q6), columns=['store', 'item', 'total_sell_quantity'])
df_Q6

successfully connected to database

        store    item  total_sell_quantity
0       S0001  I00001                  120
1       S0001  I00002                   16
2       S0001  I00003                   86
3       S0001  I00004                  108
4       S0001  I00005                   38
...       ...     ...                  ...
190698  S0099  I00260                  108
190699  S0099  I00261                   36
190700  S0099  I00262                   36
190701  S0099  I00263                   16
190702  S0099  I00264                   90

[190703 rows x 3 columns]

In [60]:
df_Q6['store'].unique()

array(['S0001', 'S0002', 'S0003', 'S0004', 'S0005', 'S0006', 'S0007',
       'S0008', 'S0009', 'S0010', 'S00100', 'S00101', 'S00102', 'S00103',
       'S00104', 'S00105', 'S00106', 'S00107', 'S00108', 'S00109',
       'S0011', 'S00110', 'S00111', 'S00112', 'S00113', 'S00114',
       'S00115', 'S00116', 'S00117', 'S00118', 'S00119', 'S0012',
       'S00120', 'S00121', 'S00122', 'S00123', 'S00124', 'S00125',
       'S00126', 'S00127', 'S00128', 'S00129', 'S0013', 'S00130',
       'S00131', 'S00132', 'S00133', 'S00134', 'S00135', 'S00136',
       'S00137', 'S00138', 'S00139', 'S0014', 'S00140', 'S00141',
       'S00142', 'S00143', 'S00144', 'S00145', 'S00146', 'S00147',
       'S00148', 'S00149', 'S0015', 'S00150', 'S00151', 'S00152',
       'S00153', 'S00154', 'S00155', 'S00156', 'S00157', 'S00158',
       'S00159', 'S0016', 'S00160', 'S00161', 'S00162', 'S00163',
       'S00164', 'S00165', 'S00166', 'S00167', 'S00168', 'S00169',
       'S0017', 'S00170', 'S00171', 'S00172', 'S00173', 'S00174',
       'S00175', 'S00176', 'S00177', 'S00178', 'S00179', 'S0018',
       'S00180', 'S00181', 'S00182', 'S00183', 'S00184', 'S00185',
       'S00186', 'S00187', 'S00188', 'S00189', 'S0019', 'S00190',
       'S00191', 'S00192', 'S00193', 'S00194', 'S00195', 'S00196',
       'S00197', 'S00198', 'S00199', 'S0020', 'S00200', 'S00201',
       'S00202', 'S00203', 'S00204', 'S00205', 'S00206', 'S00207',
       'S00208', 'S00209', 'S0021', 'S00210', 'S00211', 'S00212',
       'S00213', 'S00214', 'S00215', 'S00216', 'S00217', 'S00218',
       'S00219', 'S0022', 'S00220', 'S00221', 'S00222', 'S00223',
       'S00224', 'S00225', 'S00226', 'S00227', 'S00228', 'S00229',
       'S0023', 'S00230', 'S00231', 'S00232', 'S00233', 'S00234',
       'S00235', 'S00236', 'S00237', 'S00238', 'S00239', 'S0024',
       'S00240', 'S00241', 'S00242', 'S00243', 'S00244', 'S00245',
       'S00246', 'S00247', 'S00248', 'S00249', 'S0025', 'S00250',
       'S00251', 'S00252', 'S00253', 'S00254', 'S00255', 'S00256',
       'S00257', 'S00258', 'S00259', 'S0026', 'S00260', 'S00261',
       'S00262', 'S00263', 'S00264', 'S00265', 'S00266', 'S00267',
       'S00268', 'S00269', 'S0027', 'S00270', 'S00271', 'S00272',
       'S00273', 'S00274', 'S00275', 'S00276', 'S00277', 'S00278',
       'S00279', 'S0028', 'S00280', 'S00281', 'S00282', 'S00283',
       'S00284', 'S00285', 'S00286', 'S00287', 'S00288', 'S00289',
       'S0029', 'S00290', 'S00291', 'S00292', 'S00293', 'S00294',
       'S00295', 'S00296', 'S00297', 'S00298', 'S00299', 'S0030',
       'S00300', 'S00301', 'S00302', 'S00303', 'S00304', 'S00305',
       'S00306', 'S00307', 'S00308', 'S00309', 'S0031', 'S00310',
       'S00311', 'S00312', 'S00313', 'S00314', 'S00315', 'S00316',
       'S00317', 'S00318', 'S00319', 'S0032', 'S00320', 'S00321',
       'S00322', 'S00323', 'S00324', 'S00325', 'S00326', 'S00327',
       'S00328', 'S00329', 'S0033', 'S00330', 'S00331', 'S00332',
       'S00333', 'S00334', 'S00335', 'S00336', 'S00337', 'S00338',
       'S00339', 'S0034', 'S00340', 'S00341', 'S00342', 'S00343',
       'S00344', 'S00345', 'S00346', 'S00347', 'S00348', 'S00349',
       'S0035', 'S00350', 'S00351', 'S00352', 'S00353', 'S00354',
       'S00355', 'S00356', 'S00357', 'S00358', 'S00359', 'S0036',
       'S00360', 'S00361', 'S00362', 'S00363', 'S00364', 'S00365',
       'S00366', 'S00367', 'S00368', 'S00369', 'S0037', 'S00370',
       'S00371', 'S00372', 'S00373', 'S00374', 'S00375', 'S00376',
       'S00377', 'S00378', 'S00379', 'S0038', 'S00380', 'S00381',
       'S00382', 'S00383', 'S00384', 'S00385', 'S00386', 'S00387',
       'S00388', 'S00389', 'S0039', 'S00390', 'S00391', 'S00392',
       'S00393', 'S00394', 'S00395', 'S00396', 'S00397', 'S00398',
       'S00399', 'S0040', 'S00400', 'S00401', 'S00402', 'S00403',
       'S00404', 'S00405', 'S00406', 'S00407', 'S00408', 'S00409',
       'S0041', 'S00410', 'S00411', 'S00412', 'S00413', 'S00414',
       'S00415', 'S00416', 'S00417', 'S00418', 'S00419', 'S0042',
       'S00420', 'S00421', 'S00422', 'S00423', 'S00424', 'S00425',
       'S00426', 'S00427', 'S00428', 'S00429', 'S0043', 'S00430',
       'S00431', 'S00432', 'S00433', 'S00434', 'S00435', 'S00436',
       'S00437', 'S00438', 'S00439', 'S0044', 'S00440', 'S00441',
       'S00442', 'S00443', 'S00444', 'S00445', 'S00446', 'S00447',
       'S00448', 'S00449', 'S0045', 'S00450', 'S00451', 'S00452',
       'S00453', 'S00454', 'S00455', 'S00456', 'S00457', 'S00458',
       'S00459', 'S0046', 'S00460', 'S00461', 'S00462', 'S00463',
       'S00464', 'S00465', 'S00466', 'S00467', 'S00468', 'S00469',
       'S0047', 'S00470', 'S00471', 'S00472', 'S00473', 'S00474',
       'S00475', 'S00476', 'S00477', 'S00478', 'S00479', 'S0048',
       'S00480', 'S00481', 'S00482', 'S00483', 'S00484', 'S00485',
       'S00486', 'S00487', 'S00488', 'S00489', 'S0049', 'S00490',
       'S00491', 'S00492', 'S00493', 'S00494', 'S00495', 'S00496',
       'S00497', 'S00498', 'S00499', 'S0050', 'S00500', 'S00501',
       'S00502', 'S00503', 'S00504', 'S00505', 'S00506', 'S00507',
       'S00508', 'S00509', 'S0051', 'S00510', 'S00511', 'S00512',
       'S00513', 'S00514', 'S00515', 'S00516', 'S00517', 'S00518',
       'S00519', 'S0052', 'S00520', 'S00521', 'S00522', 'S00523',
       'S00524', 'S00525', 'S00526', 'S00527', 'S00528', 'S00529',
       'S0053', 'S00530', 'S00531', 'S00532', 'S00533', 'S00534',
       'S00535', 'S00536', 'S00537', 'S00538', 'S00539', 'S0054',
       'S00540', 'S00541', 'S00542', 'S00543', 'S00544', 'S00545',
       'S00546', 'S00547', 'S00548', 'S00549', 'S0055', 'S00550',
       'S00551', 'S00552', 'S00553', 'S00554', 'S00555', 'S00556',
       'S00557', 'S00558', 'S00559', 'S0056', 'S00560', 'S00561',
       'S00562', 'S00563', 'S00564', 'S00565', 'S00566', 'S00567',
       'S00568', 'S00569', 'S0057', 'S00570', 'S00571', 'S00572',
       'S00573', 'S00574', 'S00575', 'S00576', 'S00577', 'S00578',
       'S00579', 'S0058', 'S00580', 'S00581', 'S00582', 'S00583',
       'S00584', 'S00585', 'S00586', 'S00587', 'S00588', 'S00589',
       'S0059', 'S00590', 'S00591', 'S00592', 'S00593', 'S00594',
       'S00595', 'S00596', 'S00597', 'S00598', 'S00599', 'S0060',
       'S00600', 'S00601', 'S00602', 'S00603', 'S00604', 'S00605',
       'S00606', 'S00607', 'S00608', 'S00609', 'S0061', 'S00610',
       'S00611', 'S00612', 'S00613', 'S00614', 'S00615', 'S00616',
       'S00617', 'S00618', 'S00619', 'S0062', 'S00620', 'S00621',
       'S00622', 'S00623', 'S00624', 'S00625', 'S00626', 'S00627',
       'S00628', 'S00629', 'S0063', 'S00630', 'S00631', 'S00632',
       'S00633', 'S00634', 'S00635', 'S00636', 'S00637', 'S00638',
       'S00639', 'S0064', 'S00640', 'S00641', 'S00642', 'S00643',
       'S00644', 'S00645', 'S00646', 'S00647', 'S00648', 'S00649',
       'S0065', 'S00650', 'S00651', 'S00652', 'S00653', 'S00654',
       'S00655', 'S00656', 'S00657', 'S00658', 'S00659', 'S0066',
       'S00660', 'S00661', 'S00662', 'S00663', 'S00664', 'S00665',
       'S00666', 'S00667', 'S00668', 'S00669', 'S0067', 'S00670',
       'S00671', 'S00672', 'S00673', 'S00674', 'S00675', 'S00676',
       'S00677', 'S00678', 'S00679', 'S0068', 'S00680', 'S00681',
       'S00682', 'S00683', 'S00684', 'S00685', 'S00686', 'S00687',
       'S00688', 'S00689', 'S0069', 'S00690', 'S00691', 'S00692',
       'S00693', 'S00694', 'S00695', 'S00696', 'S00697', 'S00698',
       'S00699', 'S0070', 'S00700', 'S00701', 'S00702', 'S00703',
       'S00704', 'S00705', 'S00706', 'S00707', 'S00708', 'S00709',
       'S0071', 'S00710', 'S00711', 'S00712', 'S00713', 'S00714',
       'S00715', 'S00716', 'S00717', 'S00718', 'S00719', 'S0072',
       'S00720', 'S00721', 'S00722', 'S00723', 'S00724', 'S00725',
       'S00726', 'S0073', 'S0074', 'S0075', 'S0076', 'S0077', 'S0078',
       'S0079', 'S0080', 'S0081', 'S0082', 'S0083', 'S0084', 'S0085',
       'S0086', 'S0087', 'S0088', 'S0089', 'S0090', 'S0091', 'S0092',
       'S0093', 'S0094', 'S0095', 'S0096', 'S0097', 'S0098', 'S0099'],
      dtype=object)

In [66]:
df_Q6['supplier'].unique()

array(['Bolsius Boxmeer', 'CHROMADURLIN S.A.S', 'DENIMACH LTD',
       'HARDFORD AB', 'BIGSO AB', 'Indo Count Industries Ltd',
       'Friedola 1888 GmbH', 'CHERRY GROUP CO.,LTD', 'MAESA SAS',
       'NINGBO SEDUNO IMP & EXP CO.LTD'], dtype=object)

In [ ]:

cur = con.cursor()
select_query = "select  i.supplier,i.item_name,  sum(f.quantity) \
                from ecomdb.fact_table f\
                join ecomdb.item_dim i on f.item_key=i.item_key \
                group by (i.supplier,i.item_name,f.quantity) \
                order by (i.supplier,f.quantity) desc "
cur.execute(select_query)
records = cur.fetchall()
records

query_6 = pd.DataFrame(list(records),columns = ['supplier','item_name','quantity'])
query_6.head()

query_6 = query_6.set_index('item_name').groupby("supplier")['quantity'].nlargest(3).reset_index()
query_6